// Palette based upon Material UI design guidelines.
$red500: #F44336;
$amber500: #FFC107;
$cyan500: #00BCD4;
$lightBlueA400: #00B0FF;
$blue800: #1565C0;

$primary-color: $blue800;
$secondary-color: $amber500;
$tertiary-color: $amber500;

$accent-color: $red500;

$alternate-text-color: white;