//  Foundation for Sites Settings
//  -----------------------------

@import '~foundation-sites/scss/util/util';

// 1. Global
// ---------

$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
