// Palette based upon Material UI design guidelines.
$red500: #F44336;
$amber500: #FFC107;

$primary-color: $amber500;
$secondary-color: $amber500;
$tertiary-color: $amber500;

$accent-color: $red500;

