@import 'settings';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.inline-center {
  text-align: center;
}

.mui-padded {
  padding-left: 16px;
  padding-right: 16px;
}

.Header {
  background-color: $primary-color;
  color: $alternate-text-color;
  line-height: 22px;

  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;


    li {
      display: block;
      float: left;

      h1,h2,h3,h4,h5 {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }

  }

}

.Header::after {
  display: block;
  visibility: hidden;
  clear: both;
  content: " ";
}

.HeaderLeft {
  float: left;
}

.HeaderRight {
  float: right;
}

.Login > div {
  padding-left: 40%;
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-color: rgb(70, 94, 168);
  background-position: -50px -50px;
  background-size: 40%;
}