{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
  },
  "rules": {
    "semi": ["error", "always"]
  }
}