server {
  listen       {{getv "/micromdm/ui/port"}};
  server_name  "{{getv "/micromdm/ui/servername"}}";

  root         /usr/share/nginx/html;
  index        index.html;

  location / {
    try_files $uri @missing;
  }

  location @missing {
    rewrite ^ /index.html break;
  }
}
